{% block body_text %}
REVPDF
------

{% block mail_text '' %}

----
This mail was sent from www.revpdf.org
{% endblock %}

{% block body_html %}
<h1>REVPDF</h1>
<hr />
{% block mail_html '' %}
<hr />
{% endblock %}